/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.flexible {
     max-width: 100%;
}

.case {
margin-top: 30px;
padding: 30px;
background-color: #000;
color: #8a9299;
}

.case h1 {
  line-height: 1;
  color: #BBB;
}

.navbar-brand-Kynetx {
  float: left;
  padding: 15px 15px;
  font-size: 36px;
  line-height: 20px;
  color: #428bca;
}

.navbar-brand-Kynetx:hover,
.navbar-brand-Kynetx:focus {
  text-decoration: none;
}

