<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Last Sunday</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/bootstrap-responsive.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="../assets/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
  </head>

  <body>

    <div class="container wrapper">

       {% include menu.html menutype="contact" %}

        <div class="row">
            <div class="span12 page-title">
                <hr class="alt" />
                    <div class="page-titles">
                        <h3>About Us</h3>
                        <p>Your Page Description Goes Here</p>
                    </div>
                <hr class="alt" />
            </div>
        </div>
        
        <div class="row">
            <div class="span12" id="content">
                <div class="row">
                    <div class="span8">
                        <div class="post">
                            <h2>Lorem ipsum dolor sit amet.</h2>
                            <p><img src="img/avatar.png" class="img img-left" alt="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                            Pellentesque consectetur dui eu quam imperdiet elementum. 
                            Vivamus viverra, ante sed cursus ullamcorper, sem eros molestie leo, vitae suscipit ipsum est sed elit. 
                            Donec elementum, magna non scelerisque dignissim, est dui semper lorem, vitae aliquet libero augue in diam. 
                            Nullam bibendum facilisis tincidunt. Aenean condimentum imperdiet enim, ac tincidunt tortor lobortis posuere. 
                            Phasellus vel purus diam, sed sollicitudin purus. In ut ligula vitae libero auctor placerat. 
                            Integer pulvinar fringilla tellus, a egestas lacus malesuada in. 
                            Proin vestibulum, augue a interdum mattis, dui dui porttitor felis, vitae placerat erat ante ut eros.</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sit amet metus at ante tincidunt tristique sit amet et nibh. 
                            Praesent mattis placerat pellentesque. Donec.</p>
                            <blockquote>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam nec fermentum eros. 
                            Curabitur dignissim eleifend erat, quis pharetra odio sagittis..</p>
                            <small>Lorem ipsum</small>
                        </blockquote>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque consectetur dui eu quam imperdiet elementum. 
                            Vivamus viverra, ante sed cursus ullamcorper, sem eros molestie leo, vitae suscipit ipsum est sed elit. 
                            Donec elementum, magna non scelerisque dignissim, est dui semper lorem, vitae aliquet libero augue in diam. 
                            Nullam bibendum facilisis tincidunt. Aenean condimentum imperdiet enim, ac tincidunt tortor lobortis posuere. 
                            Phasellus vel purus diam, sed sollicitudin purus. In ut ligula vitae libero auctor placerat. 
                            Integer pulvinar fringilla tellus, a egestas lacus malesuada in. 
                            Proin vestibulum, augue a interdum mattis, dui dui porttitor felis, vitae placerat erat ante ut eros.</p>
                        </div><!--/post-->
                    </div>
                    <div class="span4">
                        <div class="sidebar">
                            <h3>Sidebar</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque consectetur dui eu quam imperdiet elementum. 
                            Vivamus viverra, ante sed cursus ullamcorper, sem eros molestie leo, vitae suscipit ipsum est sed elit. 
                            Donec elementum, magna non scelerisque dignissim, est dui semper lorem, vitae aliquet libero augue in diam. 
                            Nullam bibendum facilisis tincidunt. Aenean condimentum imperdiet enim, ac tincidunt tortor lobortis posuere. 
                            Phasellus vel purus diam, sed sollicitudin purus. In ut ligula vitae libero auctor placerat. 
                            Integer pulvinar fringilla tellus, a egestas lacus malesuada in. 
                            Proin vestibulum, augue a interdum mattis, dui dui porttitor felis, vitae placerat erat ante ut eros.</p>
                        </div><!--/sidebar-->
                    </div>
                </div>
            </div><!--/content-->
        </div><!--/row-->

       {% include footer.html %}

        
    </div><!--/container-->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery-1.7.2.min.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/last-sunday.js"></script>

  </body>
</html>
