---
title: Kynetx
authors:
  - Phil Windley
published: true
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ page.title }}">
    <meta name="author" content="{{ page.authors | array_to_sentence_string }}">
    <link rel="shortcut icon" href="/img/favicon.ico">

    <title>{{ page.title}}</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/kynetx-style.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="/js/html5shiv.js"></script>
      <script src="/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    {% include menu.html menutype="homepage" %}


    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Hello, world!</h1>
        <p>This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
        <p><a class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-lg-4">
          <h2>SquareTag</h2>
	  <p>
<img src="/img/st_logo_white_trans.png" align="right" class="pull-right"/>	  
SquareTag is a unique social product platform that connects people to the things they love, depend on and use every. SquareTag lets product talk to their owners. SquareTag lets companies talk to their customers. </p>
          <p><a class="btn btn-default" href="/squaretag.html">View details &raquo;</a></p>
        </div>
        <div class="col-lg-4">
          <h2>LiveCar</h2>
          <p>
<img src="/img/livecar_65.png" align="right" class="pull-right"/>
LiveCar lets your car talk to you. Imagine your car telling you how to get better mileage or take better care of it. Imagine your car helping you track your miles for tax deduction or your teen driver for safety. LiveCar does all that and more. 
	  </p>
          <p><a class="btn btn-default" href="#">Coming Soon &raquo;</a></p>
       </div>
        <div class="col-lg-4">
          <h2>LiveWeb Platform</h2>
          <p>
<img src="/img/Shield-65.png" align="right" class="pull-right"/>
The Kynetx LiveWeb platform is great for taking action in context because it can tie into multiple disparate systems and make decisions based on the data that they provide. In-context applications take advantage of the metadata that organizations have sitting around to improve business processes and provide additional value. Kynetx is designed and built from the ground up for interoperability, it assumes diversity and change, so it can flexibly work with any sources, targets and workloads.
	  </p>
          <p><a class="btn btn-default" href="/livewebplatform.html">View Details &raquo;</a></p>
        </div>
      </div>

      <hr>
     {% include footer.html menutype="homepage" %}

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/js/jquery-1.7.2.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>
