        <div class="row">
            <div class="span12" id="footer">
                <div class="row">


		    <div class="span12">

			<p class="pull-left contact-info">
				<i class="icon-home"></i> 3098 Executive Parkway #280, Lehi, UT 84043. USA
				<i class="icon-phone"></i> (801) 649-4601
				<i class="icon-envelope"></i> <a href="mailto:info@kynetx.com">info@kynetx.com</a>
			</p><!-- end .contact-info -->	
                        <p class="copyright pull-right">&copy; 2013 Kynetx, Inc. All right reserved.</p>
		
		    </div><!-- end .span12 -->

                </div><!--/row-->		

                <div class="row">
                    <div class="span12">

                           <p class="pull-right social-links">

  			    <a class="sb circle twitter" rel="tooltip"  href="http://twitter.com/kynetx">Twitter</a>
			    <a class="sb circle facebook" rel="tooltip"  href="http://www.facebook.com/kynetx">Facebook</a>
  			    <a class="sb circle linkedin" rel="tooltip"  href="http://www.linkedin.com/company/256754">LinkedIn</a>
			    <a class="sb circle youtube" rel="tooltip"  href="http://www.youtube.com/user/kynetxinc">YouTube</a>
			    <a class="sb circle github" rel="tooltip"  href="http://github.com/kynetx">Github</a>
			  </p><!-- end .social-links -->
                    </div>
                </div>
            </div><!--/footer-->
        </div><!--/row-->
