        <div class="row">
            <div class="span12" id="footer">
                <div class="row">
                    <div class="span3">
                        <div class="footer">
                            <h3><img src="img/logo.png" /></h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vitae sapien diam. 
                            Curabitur aliquet purus sit amet metus tristique accumsan. Etiam eros sapien, feugiat sit.</p>
                        </div>
                    </div>
                    <div class="span3">
                        <div class="footer">
                            <h3>Recent Posts</h3>
                            <ul>
                                <li><a href="#">Lorem ipsum dolor</a></li>
                                <li><a href="#">Lorem ipsum dolor</a></li>
                                <li><a href="#">Lorem ipsum dolor</a></li>
                                <li><a href="#">Lorem ipsum dolor</a></li>
                                <li><a href="#">Lorem ipsum dolor</a></li>
                                <li><a href="#">Lorem ipsum dolor</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="span3">
                        <div class="footer">
                            <h3>Recent Comments</h3>
                            <ul>
                                <li><a href="#">Hi dude!</a> on <a href="#">Lorem ipsum dolor</a></li>
                                <li><a href="#">Hi dude!</a> on <a href="#">Lorem ipsum dolor</a></li>
                                <li><a href="#">Hi dude!</a> on <a href="#">Lorem ipsum dolor</a></li>
                                <li><a href="#">Hi dude!</a> on <a href="#">Lorem ipsum dolor</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="span3">
                        <div class="footer">
                            <h3>Text</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vitae sapien diam. 
                            Curabitur aliquet purus sit amet metus tristique accumsan. Etiam eros sapien, feugiat sit.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="span12">
                        <div class="copyright">
                            <p class="pull-right">&copy; 2013 Kynetx, Inc. All right reserved.</p>
                            <p class="pull-left"><a href="http://twitter.com/kynetx" rel="tooltip" title="Twitter" class="sb circle twitter"></a>
            				<a href="https://www.facebook.com/Squaretag" rel="tooltip" title="Facebook" class="sb circle facebook"></a>
            				<!-- <a href="#" rel="tooltip" title="RSS" class="sb circle rss"></a>  -->
			  </p>
                        </div>
                    </div>
                </div>
            </div><!--/footer-->
        </div><!--/row-->
