    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button style="padding-top:10px"  type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand-Kynetx" href="/"><img src="/img/Shield-40.png"/> Kynetx</a>
        </div>
        <div style="padding-top:10px" class="navbar-collapse collapse navbar-right">
          <ul class="nav navbar-nav">
{% if page.type != 'homepage' %} 
            <!-- <li><a href="/">Home</a></li> -->
{% endif %}
            <li class="dropdown">
	      <a class="dropdown-toggle" data-toggle="dropdown" href="#">Products <b class="caret"></b></a>
              <ul class="dropdown-menu">
                 <li><a href="/squaretag.html">SquareTag</a></li>
                 <!-- <li class="disabled"f><a href="#">LiveCar</a></li> -->
                 <li><a href="http://www.kickstarter.com/projects/windley/fuse-connecting-your-world target=_blank">Fuse</a></li>
                 <li><a href="/livewebplatform.html">LiveWeb Platform</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">Projects <b class="caret"></b></a>
              <ul class="dropdown-menu">
                 <li class="disabled"><a href="http://cloudos.me">CloudOS</a></li>
                 <li><a href="http://forevr.us">Forever</a></li>
              </ul>
            </li>
            <li><a href="http://developer.kynetx.com/">Developers</a></li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">Company <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="about.html">About Us</a></li>
                <li><a href="contact.html">Contact Us</a></li>
              </ul>
            </li>
          </ul>
        </div><!--/.navbar-collapse -->
      </div>
    </div>
