    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button style="padding-top:10px"  type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand-Kynetx" href="/"><img src="/img/Shield-40.png"/> Kynetx</a>
        </div>
        <div style="padding-top:10px" class="navbar-collapse collapse navbar-right">
          <ul class="nav navbar-nav">
{% if page.type != 'homepage' %} 
            <!-- <li><a href="/">Home</a></li> -->
{% endif %}
            

            <li><a href="http://picolabs.io">Pico Labs</a></li>
            <li><a href="about.html">About Us</a></li>
          </ul>
        </div><!--/.navbar-collapse -->
      </div>
    </div>
